<div class="container">
  <div class="row contenttypeblock">
      <h2>Movie</h2>
  </div>
  <div class="row">
    <div class="col-sm" *ngFor="let movie of movies">
      {{movie.title}}
      {{movie.year}}
      {{movie.duration}}
    </div>
  </div>
  <div class="row contenttypeblock">
    <h2>Serie</h2>
  </div>
  <div class="row" ng-click="count = count + 1">
    <div class="col-sm" *ngFor="let serie of series">
      <img src="{{serie.imageUrl}}" width="200px">
      <a [routerLink]="['/home/content/']" [queryParams]="{serieId: serie.serieId}">{{serie.title}}</a>
    </div>
  </div>
</div>
