<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm col-md-8">
      <div class="header">
        <h2>Login</h2>
      </div>
      <div class="loginform">
        <input [(ngModel)]="email" type="text" placeholder="Email"/>
        <input [(ngModel)]="password" type="password" placeholder="password"/>
        <div>
          <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
        <div>
          <a [routerLink]="['/registratie']" >Geen account? Registreer hier</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
